{% extends 'base.html.twig' %}

{% block title %}Hello Category !{% endblock %}

{% block body %}

    <h1> Vous étes dans la catégory {{ category.id }} {{ category.name }} </h1>

    <a href="{{ path('category_show', {'id': category.id }) }}">{{category.name}}</a>

{% endblock %}


